In [1]:
>>> abs(3)                             # abs returns the absolute value of a number 
3
>>> abs(-3)
3
>>> abs(-1.2)
1.2

1.2

In [47]:
>>> all([1, 2, 3])

True

In [46]:
>>> all([1, 2, 3, 0])

False

In [4]:
>>> all([])

True

In [5]:
>>> any([1, 2, 3, 0])

True

In [48]:
>>> any([0, ""])

False

In [7]:
>>> chr(97)                                      # chr( ) returns a single character  
'a'
>>> chr(44032)
'가'

'가'

In [8]:
>>> dir([1, 2, 3])
['append', 'count', 'extend', 'index', 'insert', 'pop',...]

['append', 'count', 'extend', 'index', 'insert', 'pop', Ellipsis]

In [9]:
>>> dir({'1':'a'})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [10]:
>>> divmod(7, 3)           # divmod returns a tuple of the quotient and remainder of the division

(2, 1)

In [11]:
 for i, name in enumerate(['body', 'foo', 'bar']):        # eumerate the names  
...     print(i, name)

0 body
1 foo
2 bar

In [12]:
>>> eval('1+2')                                 # eval string literal 
3
>>> eval("'hi' + 'a'")
'hia'
>>> eval('divmod(4, 3)')
(1, 1)

(1, 1)

In [13]:
# positive.py 
def positive(l): 
    result = [] 
    for i in l: 
        if i > 0: 
            result.append(i) 
    return result

print(positive([1,-3,2,0,-5,6]))

[1, 2, 6]

In [14]:
# filter1.py
def positive(x):
    return x > 0

print(list(filter(positive, [1, -3, 2, 0, -5, 6])))

[1, 2, 6]

In [15]:
 list(filter(lambda x: x > 0, [1, -3, 2, 0, -5, 6]))
[1, 2, 6]

[1, 2, 6]

In [16]:
>>> hex(234)                               # hex ()  
'0xea'
>>> hex(3)
'0x3'

'0x3'

In [17]:
>>> a = 3
>>> id(3)
135072304
>>> id(a)
135072304
>>> b = a
>>> id(b)
135072304

135072304

In [ ]:
>>> a = input()
hi
>>> a
'hi'
>>> b = input("Enter: ")
Enter: hi
>>> b
'hi'

In [19]:
>>> int('3')
3
>>> int(3.4)
3

3

In [ ]:
>>> int('11', 2)                      # int( ) converts a string to an integer (문자열을 정수로 변환)
3
>>> int('1A', 16)
26

In [20]:
>>> class Person: pass
...
>>> a = Person()
>>> isinstance(a, Person)
True

True

In [21]:
>>> len("python")                                 # len (returns the length of a string)
6
>>> len([1,2,3])
3
>>> len((1, 'a'))
2

2

In [22]:
>>> list("python")
['p', 'y', 't', 'h', 'o', 'n']
>>> list((1,2,3))
[1, 2, 3]

[1, 2, 3]

In [23]:
>>> a = [1, 2, 3]
>>> b = list(a)
>>> b
[1, 2, 3]

[1, 2, 3]

In [25]:
# two_times.py
def two_times(numberList):
    result = []
    for number in numberList:
        result.append(number*2)
    return result

result = two_times([1, 2, 3, 4])
print(result)

[2, 4, 6, 8]

In [26]:
>>> def two_times(x): 
...     return x*2
...
>>> list(map(two_times, [1, 2, 3, 4]))
[2, 4, 6, 8]

[2, 4, 6, 8]

In [27]:
>>> list(map(lambda a: a*2, [1, 2, 3, 4]))              # lambda function  
[2, 4, 6, 8]

[2, 4, 6, 8]

In [28]:
>>> max([1, 2, 3])
3
>>> max("python")
'y'

'y'

In [29]:
>>> min([1, 2, 3])
1
>>> min("python")
'h'

'h'

In [30]:
>>> oct(34)                                # oct( ) 8진수 구하기 
'0o42'
>>> oct(12345)
'0o30071'

'0o30071'

In [31]:
>>> ord('a')                                   # ord() 는 문자를 아스키코드로 변환해주는 함수 
97
>>> ord('가')
44032

44032

In [32]:
>>> pow(2, 4)
16
>>> pow(3, 3)
27

27

In [35]:
>>> list(range(5))                                    # range(start, stop, step)
[0, 1, 2, 3, 4]
>>> list(range(5, 10))
[5, 6, 7, 8, 9]
>>> list(range(1, 10, 2))
[1, 3, 5, 7, 9]
>>> list(range(0, -10, -1))
[0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

[0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

In [37]:
>>> round(4.6)                                       # round 소수점 반올림 
5
>>> round(4.2)
4
>>> round(5.678, 2)
5.68

5.68

In [38]:
>>> sorted([3, 1, 2])                           # sorted(): 순서대로 정리
[1, 2, 3]
>>> sorted(['a', 'c', 'b'])
['a', 'b', 'c']
>>> sorted("zero")
['e', 'o', 'r', 'z']
>>> sorted((3, 2, 1))
[1, 2, 3]

[1, 2, 3]

In [39]:
>>> str(3)
'3'
>>> str('hi')
'hi'

'hi'

In [40]:
>>> sum([1,2,3])
6
>>> sum((4,5,6))
15

15

In [41]:
>>> tuple("abc")                               # tuple()
('a', 'b', 'c')
>>> tuple([1, 2, 3])
(1, 2, 3)
>>> tuple((1, 2, 3))
(1, 2, 3)

(1, 2, 3)

In [ ]:
>>> type(open("test.txt", 'w'))
<_io.TextIOWrapper name='test.txt' mode='w' encoding='UTF-8'>

In [45]:
>>> list(zip([1, 2, 3], [4, 5, 6]))                     # zip ()
[(1, 4), (2, 5), (3, 6)]
>>> list(zip([1, 2, 3], [4, 5, 6], [7, 8, 9]))
[(1, 4, 7), (2, 5, 8), (3, 6, 9)]
>>> list(zip("abc", "def"))
[('a', 'd'), ('b', 'e'), ('c', 'f')]

[('a', 'd'), ('b', 'e'), ('c', 'f')]

In [3]:
>>> import datetime                     # Datetime module (년, 월, 일 표시)
>>> day1 = datetime.date(2021, 12, 14)
>>> day2 = datetime.date(2023, 4, 5)   
>>> diff = day2 - day1
>>> diff.days
477

477

In [ ]:
>>> day = datetime.date(2021, 12, 14)  
>>> day.weekday()                        # weekday() returns 0 (Monday) through 6 (Sunday)
1
>>> day.isoweekday()                     # ISO weekday returns 1 (Monday) through 7 (Sunday)
2

In [ ]:
>>> import time                          # Time module (시간, 시간을 실수로 변환)
>>> time.time()
1684983953.5221913

>>> time.localtime(time.time())     # localetime 실수를 연 월 일 시간으로 변환                          
time.struct_time(tm_year=2023, tm_mon=5, tm_mday=21, tm_hour=16,
    tm_min=48, tm_sec=42, tm_wday=1, tm_yday=141, tm_isdst=0)

>>> time.asctime(time.localtime(time.time()))  # asctime 실수를 시간표시 방식으로 변환
'Fri Apr 28 20:50:20 2023'

>>> time.ctime()                      # ctime 실수를 시간표시 방식으로 변환 (현재 시간)
'Fri Apr 28 20:56:31 2023'

>>> import time
>>> time.strftime('%x', time.localtime(time.time()))
'05/25/23'
>>> time.strftime('%c', time.localtime(time.time()))
'Thu May 25 10:13:52 2023

시간에 관계된 것을 표현하는 포맷 코드

포맷코드	설명	예
%a	요일의 줄임말	Mon
%A	요일	Monday
%b	달의 줄임말	Jan
%B	달	January
%c	날짜와 시간을 출력함.	Thu May 25 10:13:52 2023
%d	일(day)	[01,31]
%H	시간(hour): 24시간 출력 형태	[00,23]
%I	시간(hour): 12시간 출력 형태	[01,12]
%j	1년 중 누적 날짜	[001,366]
%m	달	[01,12]
%M	분	[01,59]
%p	AM or PM	AM
%S	초	[00,59]
%U	1년 중 누적 주(일요일 시작)	[00,53]
%w	숫자로 된 요일	[0(일), 6(토)]
%W	1년 중 누적 주(월요일 시작)	[00,53]
%x	현재 설정된 지역에 기반한 날짜 출력	05/25/23
%X	현재 설정된 지역에 기반한 시간 출력	17:22:21
%Y	연도 출력	2023
%Z	시간대 출력	대한민국 표준시
%%	문자 %	%
%y	세기 부분을 제외한 연도 출력	01